.display {
  margin: 0;
  padding: 0;
  text-align: center;
}

.content {
  width: 50%;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
    .content {
      width: 70%;
    }
  }
  

  @media screen and (max-width: 600px) {
    .content {
      width: 80%;
    }
  }
  
